@model PagedList.IPagedList<CreativeFactory.Entities.Item>
@using PagedList.Mvc

<div class="page-header center">
    <h1>@Resources.SearchRes <small>@Resources.SearchResFor "@Html.ViewBag.Title"</small></h1>
</div>

@if (Model.Count > 0)
{

        Html.RenderPartial("~/Views/Shared/_ItemsList.cshtml", Model);
}
else
{
    <h3 class="center">@Resources.NoItemsFound</h3>
}

@Html.PagedListPager(Model
                    , page => Url.Action("Index", "Search", new RouteValueDictionary {{"searchString", ViewBag.Title}, {"page", page }})
                    , PagedListRenderOptions.PageNumbersOnly)
