@model PagedList.IPagedList<CreativeFactory.Entities.Item>
@using PagedList.Mvc
@{int i = 1;}
<div id="sortable">
@foreach (var item in Model)
{
        <div class="thumbnail col-md-6" id="@item.Id">
            <h4>@i. @Html.ActionLink(item.Title, "Details", "Item", new { id = item.Id}, null)</h4>
            <small>@item.CreatedDate</small>
        </div>
    i++;
}
</div>

@Html.PagedListPager(Model
                    , page => Url.Action("Details", "Article", new RouteValueDictionary {{"id", ViewBag.ArticleId}, {"page", page }})
                    , PagedListRenderOptions.PageNumbersOnly)

<script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>
<style>
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 60px; }
</style>

<script>
    $(document).ready(function () {
        $('#sortable').sortable({
            update: function (event, ui) {
                var newOrder = $(this).sortable('toArray').toString();
                $.get('@Url.Action("GetNewItemsOrder", "Item")' + '/', { order: newOrder });
            }
        });
    });
</script>