@model IEnumerable<CreativeFactory.Entities.Item>
@using PagedList.Mvc
@{int i = 1;}
<div id="sortable" data-url="@Url.Action("GetNewItemsOrder", "Item")" 
                    data-ownerid="@Model.First().Article.UserId" 
                    data-hasvotedurl="@Url.Action("HasVoted", "Rating")" 
                    data-currentuserid="@WebSecurity.CurrentUserId"
                    data-votelogic="@Url.Action("AddRemoveVote", "Rating")">
@foreach (var item in Model)
{
    <div class="row line" id="@item.Id">
            <div class="thumbnail row col-md-6">
                <div class="col-md-9">
                    <h4>@i. @Html.ActionLink(item.Title, "Details", "Item", new { id = item.Id}, null)
                    @if (item.Article.UserId == WebSecurity.CurrentUserId)
                    {
                        <small>
                            <a href="@Url.Action("Edit", "Item", new {id = item.Id})">
                                <span class="glyphicon glyphicon-pencil" title="@Resources.Edit"/>
                            </a>&nbsp;
                            <a href="@Url.Action("Delete", "Item")" class="deleteBtn">
                                <span class="glyphicon glyphicon-trash" title="@Resources.Delete"/>
                            </a>
                        </small>
                    }
                </h4>
                </div>
                <div class="col-md-3">
                    <div class="vote-span"><!-- voting-->
                        <div class="vote" data-action="vote" title="">
                            <span class="glyphicon glyphicon-heart-empty"/>
                        </div><!--vote up-->
                        <div class="vote-score" data-score="@item.Votes.Count">@item.Votes.Count</div>
                    </div>
                </div>
            </div>
        </div>
    i++;
}
</div>

<script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
@if (User.Identity.IsAuthenticated && Model.First().Article.UserId == WebSecurity.CurrentUserId)
{
    <script src="@Url.Content("~/Scripts/coffee/reorder.coffee")"></script>
}

<script src="@Url.Content("~/Scripts/coffee/rating-system.coffee")"></script>

<script src="@Url.Content("~/Scripts/coffee/delete-record.js")"></script>


<div id="dialog-confirm">@Resources.DeleteThis</div>