@{
  Layout = null;
  var action = ((string)ViewContext.RouteData.Values["Action"]).ToLower();
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - CreativeFactory</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="@Url.Content("~/Content/bootstrap.light.css")" rel="stylesheet" type="text/css" id="site-theme" />
        @Styles.Render("~/Content/styles.css")
        @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
        @RenderSection("scripts", required: false)
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="@Url.Content("~/Scripts/assets/js/html5shiv.js")"></script>
          <script src="@Url.Content("~/Scripts/assets/js/respond.min.js.js")"></script>
        <![endif]-->
        @*@RenderSection("head", required: false)*@
    </head>
    <body>
        <div id="wrap">
            @Html.Partial("~/Views/Shared/_Navbar.cshtml")
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <div id="footer">
          <div class="container">
            <p class="text-muted credit">@DateTime.Now.Year, &copy; CreativeFactory</p>
          </div>
        </div>
    </body>
</html>
