@model CreativeFactory.Web.Models.ArticleDetailsViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="page-header center">
  <h1>@Model.Title</h1>
</div>

@if (!String.IsNullOrEmpty(Model.Description))
{
    <blockquote>
        <p><i>@Html.DisplayFor(m => m.Description)</i></p>
    </blockquote>
}

@if (ViewBag.UserId == WebSecurity.CurrentUserId)
{
    @Html.ActionLink(@Resources.AddItemNav, "Add", "Item", new {articleId = ViewBag.ArticleId}, new {role = "button", @class = "btn btn-primary"})
}

@if (Model.Items.Count > 0)
{
    Html.RenderPartial("~/Views/Shared/_ItemsList.cshtml", Model.Items);
}
else
{
    <p>@Resources.NoItemsFound</p>
}