@model CreativeFactory.Web.Models.ResetPasswordConfirmModel

@{
    ViewBag.Title = Resources.PasswordResetMsg;
}

<div class="page-header center">
  <h1>@ViewBag.Title</h1>
</div>

@using (Html.BeginForm("ResetPasswordConfirmation", "Account", FormMethod.Post, new { role = "form", @class = "col-md-6" }))
{
    @Html.ValidationSummary(true)

        @Html.Hidden("Token", Model.Token)

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword)
        @Html.EditorFor(model => model.NewPassword, new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.EditorFor(model => model.ConfirmPassword, new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>
    
    <input type="submit" value="@Resources.PasswordReset" class="btn btn-primary" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}