@model CreativeFactory.Web.Models.NewItemViewModel

@{
    ViewBag.Title = Resources.AddItemNav;
}
<link rel="stylesheet" type="text/css" href="/Scripts/mdd_styles.css" />
<script type="text/javascript" src="/Scripts/MarkdownDeepLib.min.js"></script>
<script type="text/javascript" src="/Scripts/autosave.js"></script>

<div class="page-header center">
    <h1>@ViewBag.Title</h1>
</div>
@using (Html.BeginForm("Add", "Item", FormMethod.Post, new { role = "form", id = "form-to-save", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.ArticleId)
    @Html.HiddenFor(m => m.CookieToken)

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <div class="mdd_toolbar"></div>
            @Html.TextAreaFor(m => Model.Body, 20, 5,
            new Dictionary<string, object> { {"class","mdd_editor form-control"}, {"name", "content"}, {"data-token", "_autosave"} })
            <div class="mdd_resizer"></div>
            @Html.ValidationMessageFor(m => m.Body)
        </div>
    
        <div class="form-group col-md-6">
            <label>@Resources.Preview <span id="message" class="label label-success"></span></label>
            <div class="mdd_preview"></div>
        </div>
    </div>
    
    <input type="submit" value="@Resources.AddItemNav" class="btn btn-primary" /> 
}

<script>
    $(function () {
        $("textarea.mdd_editor").MarkdownDeep({
            help_location: "/Scripts/mdd_help.htm",
            ExtraMode: true
        });
    })
</script>

<script>
    $(function () {
        $('#Body').autosave({
            delay: 5000,
            url: '@Url.Action("SaveDraft", "Item")',
            afterSave: function () {
                $("#message").html("Data saved successfully").show();//...show a message...
                setTimeout('fadeMessage()', 3000);
                $.cookie("_item-title", $('#Title').val(), { expires: 1, path: '/' });
            }
        });
    });

    function fadeMessage() {
        $('#message').fadeOut('slow');
    }
</script>
