@model CreativeFactory.Web.Models.ItemViewModel

@{
    ViewBag.Title = Resources.EditItem;
}

<link rel="stylesheet" type="text/css" href="/Scripts/mdd_styles.css" />
<script type="text/javascript" src="/Scripts/MarkdownDeepLib.min.js"></script>
<script type="text/javascript" src="/Scripts/to-markdown.js"></script>


<div class="page-header center">
  <h1>@ViewBag.Title</h1>
</div>

@using (Html.BeginForm("Edit", "Item", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ArticleId)
    
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <div class="mdd_toolbar"></div>
            @Html.TextAreaFor(m => Model.Body, 20, 5, new { @class="mdd_editor form-control", name = "content" })
            <div class="mdd_resizer"></div>
            @Html.ValidationMessageFor(m => m.Body)
        </div>
    
        <div class="form-group col-md-6">
            <label>@Resources.Preview</label>
            <div class="mdd_preview"></div>
        </div>
    </div>
    
    <input type="submit" value="@Resources.EditItem" class="btn btn-primary" /> 
}

<script>
    $(function () {
        $("textarea.mdd_editor").MarkdownDeep({
            help_location: "/Scripts/mdd_help.htm",
            ExtraMode: true
        });
    })
</script>

<script>
    $(function () {
        var $input = $('.mdd_editor');
        function updateOutput() {
            $('.mdd_editor').text(toMarkdown($input.val()));
        }
        updateOutput();
        $input.keyup(function () {
            updateOutput();
        });
    });
</script>